.filter-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.filter {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.posts-container {
  width: 85%;
  margin: 2rem auto;
}

.posts-container > h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: whitesmoke;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card:hover {
  background-color: #d9ed92;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-subtitle {
  margin-bottom: 4px;
  font-style: italic;
}
